<!-- app.component.html -->
<div class="sign-in-container">
    <div class="sign-in-card">
        <img class="logo"
             src="your-logo.png"
             alt="Logo">
        <h2>Sign in to your account</h2>
        <form [formGroup]="signInForm">
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput
                       formControlName="username"
                       tabindex="0">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput
                       formControlName="password"
                       type="password"
                       placeholder="password"
                       tabindex="1"
                       [type]="hidePassword() ? 'password' : 'text'">
                <button mat-icon-button
                        matSuffix
                        tabindex="2"
                        type="button"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hidePassword()"
                        (click)="togglePasswordVisibility()">
                    <mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <div class="forgot-password">
                <a href="/reset-password">Forgot password?</a>
            </div>

            <button mat-raised-button
                    color="primary"
                    class="sign-in-button"
                    type="button"
                    (click)="onSignIn()">Sign in</button>

            <div class="signup">
                <span>Don't have an account?</span> <a href="/sign-up"> Sign up</a>
            </div>
        </form>
    </div>
</div>
