<div class="home-page">
    <div class="header">
        <button class="corner-btn"></button>
        <button class="corner-btn"></button>
    </div>
    <div class="content">
        <div class="task-box ">
            <div class="search-bar">
                <i class="fas fa-search">
                </i>
                <input placeholder="Search list"
                       type="text" />
                <i class="fas fa-plus add-icon">
                </i>
            </div>
            <ul class="task-list">
                <li class="task-item">
                    <i class="fas fa-image">
                    </i>
                    <span class="task-name">
                        Design Tasks
                    </span>
                    <span class="task-count">
                        3
                    </span>
                </li>
                <li class="task-item">
                    <i class="fas fa-calendar-alt">
                    </i>
                    <span class="task-name">
                        Development Tasks
                    </span>
                    <span class="task-count">
                        5
                    </span>
                </li>
                <li class="task-item">
                    <i class="fas fa-check-circle">
                    </i>
                    <span class="task-name">
                        Meeting Prep
                    </span>
                    <span class="task-count">
                        12
                    </span>
                </li>
                <li class="task-item">
                    <i class="fas fa-book">
                    </i>
                    <span class="task-name">
                        Learning Goals
                    </span>
                    <span class="task-count">
                        3
                    </span>
                </li>
                <li class="task-item">
                    <i class="fas fa-users">
                    </i>
                    <span class="task-name">
                        Team Collaboration
                    </span>
                    <span class="task-count">
                        4
                    </span>
                </li>
                <li class="task-item">
                    <i class="fas fa-user-graduate">
                    </i>
                    <span class="task-name">
                        Personal Development
                    </span>
                    <span class="task-count">
                        5
                    </span>
                </li>
                <li class="task-item">
                    <i class="fas fa-image">
                    </i>
                    <span class="task-name">
                        Design Tasks
                    </span>
                    <span class="task-count">
                        3
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <button class="corner-btn"></button>
        <button class="corner-btn"
                (click)="onMembership()"><i class="fas fa-shopping-cart fa-lg"
               style="color: #ffffff;"></i></button>
    </div>
</div>
