<!-- app.component.html -->
<div class="sign-up-container">
    <div class="sign-up-card">
        <img class="logo"
             src="your-logo.png"
             alt="Logo">
        <h2>Create new account</h2>
        <form [formGroup]="signUpForm">
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput
                       formControlName="username"
                       tabindex="0">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput
                       type="password"
                       placeholder="password"
                       formControlName="password"
                       tabindex="2"
                       [type]="hide() ? 'password' : 'text'">
                <button mat-icon-button
                        matSuffix
                        tabindex="3"
                        type="button"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide()"
                        (click)="togglePasswordVisibility()">
                    <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput
                       type="password"
                       placeholder="confirm password"
                       formControlName="confirmPassword"
                       tabindex="2"
                       [type]="hide() ? 'password' : 'text'">
                <button mat-icon-button
                        matSuffix
                        tabindex="3"
                        type="button"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide()"
                        (click)="togglePasswordVisibility()">
                    <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <button mat-raised-button
                    color="primary"
                    class="sign-up-button"
                    (click)="onSignUp()">Sign up</button>

            <div class="signup">
                <span>Already have an account?</span> <a href="/sign-in"> Sign in</a>
            </div>
        </form>
    </div>
</div>
