<!-- app.component.html -->
<div class="reset-password-container">
    <div class="reset-password-card">
        <img class="logo"
             src="your-logo.png"
             alt="Logo">
        <h2>Create new account</h2>
        <form>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput
                       type="email"
                       placeholder="designer@example.com"
                       tabindex="0">
            </mat-form-field>

            <button mat-raised-button
                    color="primary"
                    class="reset-password-button"
                    (click)="onClick()">Reset</button>

            <div class="signup">
                <span>Have your password?</span> <a href="/sign-in"> Sign in</a>
            </div>
        </form>
    </div>
</div>
